* { outline: solid 0px #0000FF; }

HTML, BODY {
	background-color: #FFFFFF;
}

TABLE {
	width: 100%;
}

CANVAS {
	display: block;
	margin: auto;
}

#header {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: solid 1px #000000;
}

#topSpacer {
	margin-top: 20px;
}

#headerText {
	font-size: 1.2em;
	text-align: right;
	font-style: italic;
}

#headerName {
	font-size: 2.2em;
}

.ele-center {
	text-align: center;	
}