@media (max-width: 500px) {
    #resumeDiv IMG {
		margin-bottom: 20px;
	}
}

#resumeDiv .resumeTitle DIV:nth-child(1) {
	font-size: 2em;
}

#resumeDiv .resumeTitle DIV:nth-child(2) {
	font-size: 1.2em;
}

#resumeDiv .resumeTitle DIV:nth-child(3) {
	font-size: 1em;
}